.wrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
}

#name {
  padding: 10px 100px 10px 100px;
  font-size: 25px;
  text-align: center;
}

span {
  font-size: 180px;
  margin-top: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

body {
  background: url('../images/tele.jpg');
  font-family: Arial, sans-serif;
 
}

.teletubie-name {
font-size: 30px;
margin-top: 90px;
font-size: 120px;
}

button:hover {
  /* background: rgb(131, 58, 180); */
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  cursor: pointer;
  border: none;
  color: white;
  
}

button {
  background: linear-gradient(90deg, rgb(255, 208, 0) 0%, rgba(253, 29, 29, 1) 50%, rgb(243, 7, 164) 100%);
  color:white;
  border:none;
  font-weight: bold;
  height: 30px;
  transition: all .5s ease-in-out;
}

p {
  text-align: center;
  margin-top: 110px;
  background: -webkit-linear-gradient(rgb(255, 208, 0), rgb(243, 7, 164) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  font-size: 80px;
}